body {
    background-color: #3f3f3f;
    font-family: Arial, sans-serif;
    margin: 0;
    color: #fff;
    min-height: 100vh; 
    position: relative;
}

header {
    background-color: #242424;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-bottom: 5px solid #fff;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
    font-weight: bold;
}

main {
    padding: 50px;
    text-align: center;
    color: #fff;
}

p {
    font-size: 1.5rem;
    line-height: 1.5;
}

footer {
    background-color: #777;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 0.8rem;
    position: fixed; 
    bottom: 0;
    width: 100%;
    border-top: 5px solid #fff;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    height: 450px;
}

.button:hover {
    transform: scale(1.1);
}

.button img {
    max-height: 200px;
    margin-bottom: 100px;
}
